@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');
@import url('https://cdn-uicons.flaticon.com/uicons-brands/css/uicons-brands.css');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
@import url('https://cdn-uicons.flaticon.com/uicons-solid-rounded/css/uicons-solid-rounded.css');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

/* box-sizing and font sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
    --primary-clr: #01783f;
    --secondary-clr: #fe5c2b;
    --accent-clr-prp: #572af5;
    --accent-clr-ylw: #fcf22e;
    --bg-gradient-clr: linear-gradient(
        130deg,
        #01783f,
        #19b067,
        #62cb1b,
        #9fce14,
        #d4e917,
        #fcf22e
        );
    --ff-PT-: 'PT Serif', serif;
    --ff-Raleway-: 'Raleway', sans-serif;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 4em;
}

body {
    color: var(--accent-clr-ylw);
    font-size: 16px;
    font-family: var(--ff-Raleway-);
    width: 100%;
    font-weight: 400;
    left: 0;
    margin: 0;
}

/*  =======================================================
                    begin nav bar 
    ======================================================= */

header {
    text-align: center;
    color: var(--accent-clr-ylw);
    font-family: var(--ff-PT-);
    position: fixed;
    padding: 1.2rem;
    top:0;
    left:0;
    width: 100%;
    z-index: 10;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.nav-toggle {
    display: none;
}

.nav-toggle-label {
    position:absolute;
    top: 0;
    left: 0; 
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 1rem;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: var(--secondary-clr);
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;
}

.nav-toggle-label span::before {
    bottom: 8px;
}

.nav-toggle-label span::after {
    top: 8px;
}

nav {
    position: absolute;
    background-color: #01783fd0;
    text-align: left;
    width: 100%;
    left: 0;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
}

nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

nav li {
    margin-top: 1em;
    margin-bottom:1em;
    margin-left: 1em;
}
nav a {
    text-decoration: none;
    color: var(--accent-clr-ylw);
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

nav a:hover {
    color: white;
}

.nav-toggle:checked ~ nav {
   transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 275ms;
}

/*  ============================================
            navbar for larger screens 
    ============================================*/
@media screen and (min-width: 640px) {
    html {
        scroll-behavior: smooth;
        scroll-padding-top: 5rem;
    }
    .nav-toggle-label {
        display: none;
    }

    header {
        display: grid;
        grid-template-columns: 1fr auto minmax(450, 2fr) 2fr;
    }

    nav {
        all: unset;
        grid-column: 2;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    nav a {
        opacity: 1;
        position: relative;
        padding-right: .1rem;
        margin-right: .3rem;
    }

    nav a::before {
        content: '';
        display: block;
        height: 5px;
        background: var(--secondary-clr);
        position: absolute;
        bottom: -.75em;
        left: 0;
        right: 0;
        transform: scale(0, 1);
        transform-origin: left;
        transition: transform ease-in-out 250ms;
    }

    nav a:hover::before {
        transform: scale(1, 1);
    }

    nav ul {
        display: flex;
    }

    nav li {
        margin-left: 1rem;
        margin-bottom: 0;
    }
}
/*  =============== end navbar ===================  */


/*  ==============================================
                    begin main styling 
    ==============================================  */

section {
    display: flex;
    flex-direction: column;  
    justify-content: center;
    align-items: center;
    left: 0;
    width:100%;
    height: auto;
}

div {
     /* colors to help troubleshoot  */
    /* background-color: pink;
    outline: 3px solid red; */
    margin: 0;
    padding: 0;
}

form {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    font-weight: 300;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

button {
    cursor: pointer;
}

button:hover,
button:focus {
    background-color: darkgoldenrod;
    transition: 350ms;

}

.info-container {
    padding: 2.5rem;
    margin: auto;
    color: var(--accent-clr-prp);
}

.video-container {
    padding: 2.5rem;
    margin: auto;
    color: var(--accent-clr-prp);
}
.title {
    text-align: center;
    font-family: var(--ff-Raleway-);
}

.home-sect {
    background-color: var(--primary-clr);
    background-image: url("pictures\stethoscope.jpg");
    flex-direction: row-reverse;
    justify-content: space-evenly;
    padding: 2rem;
    margin-top: 0;
}


.about-sect {
    background-image: var(--bg-gradient-clr);
    background-size: 400%;
    background-position: left;
    width: 100%;
    left: 0;
    text-align: center;
}

@keyframes bg-animation {
    0% {
        background-position: left;
    }
    100% {
        background-position: right;
    }
}

/* not sure why I can't get this background image to work */
.contact-sect {
    width: 100%;
    left: 0;
    text-align: center;
}

.map-sect {
    width: 100%;
    left: 0;
    text-align: center;
}

.bg-theme-color {
    background-color: var(--primary-clr);
}

.header-container {
    background-color: var(--primary-clr);
    color: var(--accent-clr-ylw);
    width: 100%;
    left: 0;
    text-align: center;
}

.content-container-image {
    padding: 1.5rem;
}

.content-container {
    padding: 1.5rem;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile-pic {
    height: 200px;
}

.content-container-map {
    width: 80%;
    color: black;
}

.content-container-info {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    
}
.content-container-contact-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    text-align: left;
    padding: 0.5rem;
    margin-left: 2rem;
    color:  var(--accent-clr-prp);
    flex-grow: 1;
    width: 40%;
    
}

.content-container-email-form {
    width: 60%;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;

}

.form-header {
    color: darkorchid;
    margin: 0;
    padding-bottom: 1.5rem;;
    font-weight: 700;
    font-size: 1.5rem;
}

.form-btn {
    color:rgba(198, 200, 213, 0.953);
    font-weight: 600;
    background-color: var(--accent-clr-prp);
}

/*  =======================================
        styling for larger screens 
    =======================================*/

@media screen and (min-width: 640px) {
    .home-sect {
        justify-content: space-around;
    }

    .content-container-image {
        margin-top: 2rem;
    }

    .content-container-info {
        width: 100%;
        display: flex;
        justify-content: space-around;   
    }

    .content-container-contact-info {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        text-align: left;
        padding: 0.5rem;
        margin-left: 1.6rem;
        color:  var(--accent-clr-prp);
        flex-grow: 1;
        width: 30%;
    }

    .content-container-email-form {
        width: 100%;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
    
    }
}

img {
    display: flex;
    max-width: 85%;
    height: auto;
}