@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');
@import url('https://cdn-uicons.flaticon.com/uicons-brands/css/uicons-brands.css');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
@import url('https://cdn-uicons.flaticon.com/uicons-solid-rounded/css/uicons-solid-rounded.css');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

/* box-sizing and font sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
    --primary-clr: #01783f;
    --secondary-clr: #fe5c2b;
    --accent-clr-prp: #572af5;
    --accent-clr-ylw: #fcf22e;
    --bg-gradient-clr: linear-gradient(
        130deg,
        #01783f,
        #19b067,
        #62cb1b,
        #9fce14,
        #d4e917,
        #fcf22e
        );
    --ff-PT-: 'PT Serif', serif;
    --ff-Raleway-: 'Raleway', sans-serif;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 4em;
}

body {
    color: var(--accent-clr-ylw);
    font-size: 16px;
    font-family: var(--ff-Raleway-);
    width: 100%;
    font-weight: 400;
    left: 0;
    margin: 0;
}

/*  =======================================================
                    begin nav bar 
    ======================================================= */

header {
    text-align: center;
    background-color: var(--primary-clr);
    color: var(--accent-clr-ylw);
    font-family: var(--ff-PT-);
    position: fixed;
    padding: 1.2rem;
    top:0;
    left:0;
    width: 100%;
    z-index: 10;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.nav-toggle {
    display: none;
}

.nav-toggle-label {
    position:absolute;
    top: 0;
    left: 0; 
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 1rem;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: var(--secondary-clr);
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;
}

.nav-toggle-label span::before {
    bottom: 8px;
}

.nav-toggle-label span::after {
    top: 8px;
}

nav {
    position: absolute;
    background-color: #01783fd0;
    text-align: left;
    width: 100%;
    left: 0;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
}

nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

nav li {
    margin-top: 1em;
    margin-bottom:1em;
    margin-left: 1em;
}
nav a {
    text-decoration: none;
    color: var(--accent-clr-ylw);
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

nav a:hover {
    color: white;
}

.nav-toggle:checked ~ nav {
   transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 275ms;
}

/*  ============================================
            navbar for larger screens 
    ============================================*/
@media screen and (min-width: 640px) {
    html {
        scroll-behavior: smooth;
        scroll-padding-top: 3.5rem;
    }
    .nav-toggle-label {
        display: none;
    }

    header {
        display: grid;
        grid-template-columns: 1fr auto minmax(450, 2fr) 2fr;
        margin-top: 0;
        padding: .5rem;
    }

    nav {
        all: unset;
        grid-column: 2;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    nav a {
        opacity: 1;
        position: relative;
        padding-right: .1rem;
        margin-right: .3rem;
    }

    nav a::before {
        content: '';
        display: block;
        height: 5px;
        background: var(--secondary-clr);
        position: absolute;
        bottom: -.75em;
        left: 0;
        right: 0;
        transform: scale(0, 1);
        transform-origin: left;
        transition: transform ease-in-out 250ms;
    }

    nav a:hover::before {
        transform: scale(1, 1);
    }

    nav ul {
        display: flex;
    }

    nav li {
        margin-left: 1rem;
        margin-bottom: 0;
    }
}
/*  =============== end navbar ===================  */


/*  ==============================================
                    begin main styling 
    ==============================================  */

    /* =====    general styling     ===== */

section {
    display: flex;
    flex-direction: column;  
    justify-content: center;
    align-items: center;
    left: 0;
    width:100%;
    height: auto;
}

div {
    margin: 0;
    padding: 0;
}

form {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    font-weight: 300;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

button {
    cursor: pointer;
}

button:hover,
button:focus {
    background-color: darkgoldenrod;
    transition: 350ms;
}

.title {
    font-size: 1.4rem;
}

img {
    max-width: 75%;
    min-width: 150px;
}

.banner {
    max-width: 100%;
}

.profile-pic {
    border-radius: 10px;
}

.header-container {
    background-color: var(--primary-clr);
    color: var(--accent-clr-ylw);
    width: 100%;
    left: 0;
    text-align: center;
}

.content-container-image {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.content-container {
    padding: 1.5rem;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* ========     home section    ======== */

.home-sect {
    background-color: var(--primary-clr);
    flex-direction: row-reverse;
    justify-content: space-evenly;
    padding: 2rem;
    margin-top: 0;
}


/*  ========    about section   ========     */

.about-sect {
    background-image: var(--bg-gradient-clr);
    background-size: 400%;
    background-position: left;
    width: 100%;
    left: 0;
    text-align: center;
}

.container-sobre {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: center;
}

.content-text {
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    text-align: left;
    color: whitesmoke;
    font-weight: 500;
    padding: 1rem;
    width: 100%;
}

.content-image {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 1rem;
    width: 65%;
}

/* ========     especialidades section      ======== */
.especialidades-sect {
    background-image: var(--bg-gradient-clr);
    background-size: 400%;
    background-position: center;
    width: 100%;
}

.content-container-especialidades {
    display: block;
    flex-wrap: nowrap;
    flex-direction: row;
}

.card {
    position: relative;
    margin: 1.5rem;
    background-color: lightseagreen;

}

.card-image {
    max-width: 100%;
    display: block;
    opacity: 0.4;
}


.card-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: whitesmoke;
    opacity: 1;
}

.card-title {
    font-size: 1.5rem;
    margin-bottom: 0;
}

.card::before,
.card::after,
.card:focus {
    content: '';
    position: absolute;
    top: 1em;
    bottom: 1em;
    left: 1em;
    right: 1em;
}

.card::before {
    border-top: 1px solid whitesmoke;
    border-bottom: 1px solid whitesmoke;
}


.card::after {
    border-left: 1px solid whitesmoke;
    border-right: 1px solid whitesmoke;
}

/* ========     pesquisa section    ======== */

.pesquisa-sect {
    color: var(--secondary-clr);
    text-align: left;
}

.artigos {
    margin: 2rem;
}

div a {
    text-decoration: none;
    color: var(--secondary-clr)
}

div li {
    padding: .5rem;
}

.cv {
    margin: 2rem;
    text-align: left;
}

div a:hover {
    color: var(--accent-clr-prp);
    font-weight: 600;
    transition: ease-out 75ms;
}

/* ========     contact section     ======== */

.contact-sect {
    width: 100%;
    left: 0;
    text-align: center;
}

.content-container-info {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    color: var(--secondary-clr);
    
}
.content-container-contact-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    text-align: left;
    padding: 0.5rem;
    margin-left: 2rem;
    color:  var(--accent-clr-prp);
    flex-grow: 1;
    width: 40%;
}

.content-container-email-form {
    width: 60%;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;
}

.form-header {
    color: darkorchid;
    margin: 0;
    padding-bottom: 1.5rem;;
    font-weight: 700;
    font-size: 1.5rem;
}

.form-btn {
    color:rgba(198, 200, 213, 0.953);
    font-weight: 600;
    background-color: var(--accent-clr-prp);
}

/* ========     map section     ======== */

.map-sect {
    width: 100%;
    left: 0;
    text-align: center;
}

.content-container-map {
    width: 80%;
    color: black;
    margin-bottom: 1rem;
}

.alzheimers-sect {
    display: flex;
    margin-top: 7rem;
    scroll-padding-top: 5rem;
    scroll-margin-top: 5rem;
    
}

/*  =======================================
        styling for larger screens 
    =======================================*/

@media screen and (min-width: 640px) {
    .home-sect {
        justify-content: space-around;
    }

    .content-container-image {
        margin-top: 2rem;
    }

    .title {
        padding: .7rem;
    }
    .container-sobre {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        height: 100%;
    }
    
    .content-text {
        display:flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        text-align: left;
        color: whitesmoke;
        padding: 2rem;
        width: 60%
    }
    
    .content-image {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin: 2rem;
        width: 40%;
    }

    .content-container-especialidades {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-evenly;
    }
    
    .card {
        position: relative;
        margin: .8rem;
        background-color: lightseagreen;
    
    }

    .card-image {
        max-width: 100%;
        display: block;
        transition: opacity ease-out 350ms;
        opacity: 1;
    }
    
    .card-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: whitesmoke;
        opacity: 0;
        transition: opacity ease-out 350ms;
    }
    
    .card:hover .card-text {
        opacity: 1;
    }
    
    .card-title {
        font-size: 1.5rem;
        margin-bottom: 0;
    }
    
    .card:hover .card-image {
        opacity: 0.4;
    }
    
    .card::before,
    .card::after,
    .card:focus {
        content: '';
        position: absolute;
        top: 1em;
        bottom: 1em;
        left: 1em;
        right: 1em;
    }
    
    .card::before {
        transform: scale(0, 1);
        transition: transform ease-out 300ms;
        border-top: 1px solid whitesmoke;
        border-bottom: 1px solid whitesmoke;
    }
    
    .card:hover::before {
        transform: scale(1, 1);
    }
    
    .card::after {
        transform: scale(1, 0);
        transition: transform ease-out 300ms;
        border-left: 1px solid whitesmoke;
        border-right: 1px solid whitesmoke;
    }
    
    .card:hover::after {
        transform: scale(1, 1);
    }

    .content-container-info {
        width: 100%;
        display: flex;
        justify-content: space-around;   
    }

    .content-container-contact-info {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        text-align: left;
        padding: 0.5rem;
        margin-left: 1.6rem;
        color:  var(--accent-clr-prp);
        flex-grow: 1;
        width: 30%;
    }

    .content-container-email-form {
        width: 100%;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
    
    }
}
