/* box-sizing and font sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 85px;
}

body {
    color: orange;
    font-size: 16px;
    width: 100%;
    padding-top: 4%;
    font-weight: 400;
}

/* begin nav bar */

header {
    text-align: center;
    color: orange;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    z-index: 10;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.nav-toggle {
    display: none;
}

.nav-toggle-label {
    position:absolute;
    top: 0;
    left: 0; 
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 1em;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: orange;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;
}

.nav-toggle-label span::before {
    bottom: 7px;
}

.nav-toggle-label span::after {
    top: 7px;
}

nav {
    position: absolute;
    background-color: hsl(124, 32%, 34%);
    text-align: left;
    top: 100%;
    width: 100%;
    left: 0;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
}

nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

nav li {
    margin-bottom: 1em;
    margin-left: 1em;
}
nav a {
    text-decoration: none;
    color: orange;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

nav a:hover {
    color: white;
}

.nav-toggle:checked ~ nav {
   transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 275ms;
}

@media screen and (min-width: 800px) {
    html {
        scroll-behavior: smooth;
        scroll-padding-top: 70px;
    }
    .nav-toggle-label {
        display: none;
    }

    header {
        display: grid;
        grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
    }

    .logo {
        grid-column: 2 / span 1;
    }

    nav {
        all: unset;
        grid-column: 3 / 4;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    nav a {
        opacity: 1;
        position: relative;
    }

    nav a::before {
        content: '';
        display: block;
        height: 5px;
        background: orangered;
        position: absolute;
        bottom: -.75em;
        left: 0;
        right: 0;
        transform: scale(0, 1);
        transform-origin: left;
        transition: transform ease-in-out 250ms;
    }

    nav a:hover::before {
        transform: scale(1, 1);
    }

    nav ul {
        display: flex;
    }

    nav li {
        margin-left: 3em;
        margin-bottom: 0;
    }
}

/* begin main styling */

section {
    display: flex;
    flex-direction: column;  
    justify-content: center;
    align-items: center;
    left: 0;
    width:100vw;
    height: auto;
}

div {
     /* colors to help troubleshoot  */
    outline: 3px solid red;
    background-color: lightpink;
    flex-grow: 1;
}

.header-container {
    width: 100%;
    left: 0;
}
.home-sect {
    background-color: hsl(124, 32%, 34%);
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: 70px;
}

.map-sect {
    width: 100%;
    left: 0;
}

.bg-theme-color {
    background-color: hsl(124, 32%, 34%);
}

.content-container-large {
    width: 100%;
    flex-grow: 1;
}


/* need to figure out max sizing for img */
img {
    display: block;
    max-width: 85%;
    height: auto;
}